.conference-presenter-image {
    float: left;
    margin: 0 5px 5px 0;
}

.conftable thead{
    background-color: #007bb1;
}

.conftable th{
    color: white;
    padding: 10px 10px 10px 10px;
}

.conftable td {
    padding: 5px 0px 5px 10px;
}

ul.roomlist {
    list-style-type: none;
    margin: 5;
    padding: 0;
}

ul.speakerlist {
    list-style-type: none;
    margin: 5;
    padding: 0;
}